*{
    font-family: 'SpaceType', sans-serif, "Courier New", monospace;
    color: rgb(236, 236, 241);
    font-weight: 400;
}

body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 33, 35);
    align-items: center;
}

a{
	text-decoration: none;
}

button{
    background-color: transparent;
    border: solid 1px #202123;
}

h1{
    font-size: 50px;
    margin: 40px 0px 25px 0px;
    text-align: center;
}

/* FOOTER DESIGN */
#footer{
    height: 50px;
    font-size: small;
    font-weight: bolder;
    background-color: rgb(32, 33, 35);
    display: flex;
	justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

#body-container{
    height: 900px;
    width: 1100px;
    margin: 100px;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.control-panel{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 20px;
}

.color-panel,
.control-buttons,
.slider-container{
    height: 90px;
    margin-bottom: 40px; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-eraser,
.fa-fill{
    margin-bottom: 10px;
    font-size: 30px;
}

#color-picker{
    background-color: transparent;
    width: 150px;
    border: none;
    outline: none;
}


#container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#draw-pad{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item{
    margin: 0;
    padding: 0;
    background-color: white;
}

.drawed{
    margin: 0;
    padding: 0;
}

